[Unit]
Description=Tool for mirror sites to rsync files from upstreams automatically
After=network.target

[Service]
Type=simple
User=%i
Group=%i
ExecStart=/usr/bin/mirrord -D
ExecStop=/usr/bin/mirrord -s stop

[Install]
WantedBy=multi-user.target
